/* zero out margins and padding to get full bleed effect */
html, body {
  margin:0;
  padding:0;
  height:100%;
  font-family: "Verdana", sans-serif;
}

button {
  border-radius: 8px;
  background-color: white;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

/* this is the wrapper around the entire app */
.contactapp {
  background: #a7d7c5;
  display:flex;
  justify-content: center;
  align-items: stretch;
  height:100%;
}

/* left column, list of contacts */
.contactlist {
  padding:0px;
  margin:10px;
  min-height: 200px;
  flex-basis:50%;
}

.contactlist table {
  width:100%;
  margin:0;
  border-spacing: 0px;
  padding:5px;
}

.contactlist tr:nth-child(even) {
  background: #f9f8eb;
}

.contactlist tr:hover {
  background: #5c8d89;
  color:white;
  cursor:pointer;
}

/* right column, contact details */
.contact{
  background: #5c8d89;
  padding:0px;
  margin:0px;
  height:100%;
  float:left;
  flex-basis: 50%;
}

.contactpic{
  text-align:center;
  padding:10px;
}

.contact table {
  padding:5px;
  margin:15px;
  background: #5c8d89;
  color: white;
  width:90%;
}
